@page "/catalog/waitingtalaps"
@attribute [Authorize(Policy = Permissions.Talaps.View)]
@inject Microsoft.Extensions.Localization.IStringLocalizer<Talaps> _localizer
@using WaterS.Application.Features.Talaps.Queries.GetAllTalaps;

<style>
    .mud-table-container {
        overflow: visible;
    }
</style>

<HeroTitle Title="@_localizer["الطلبات"]" Description="@_localizer[" قائمة الطلبات المنتظرة : " + _totalItems]" />
@if (!_loaded)
{
    <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
}
else
{
<MudTable Elevation="25"  CustomHeader="true"  ServerData="@(new Func<TableState, Task<TableData<GetAllPagedTalapsResponse>>>(ServerReload))" Hover="true" Dense="@_dense" Bordered="@_bordered" Striped="@_striped" @ref="_table">
    <ToolBarContent>
        <div class="justify-center mud-text-align-center">
            @if (_canCreateTalaps)
            {
                @if (CurrentUserRool != CustomerRoll)
                {

                }
                <MudButton DisableElevation Variant="Variant.Filled" OnClick="@(() => OnSearch(""))" StartIcon="@Icons.Material.Filled.Refresh" IconColor="Color.Surface" Color="Color.Secondary">@_localizer["تحديث"]</MudButton>
                @*@if (_canExportTalaps)
                {
                    <MudButton DisableElevation Variant="Variant.Filled" OnClick="ExportToExcel" StartIcon="@Icons.Custom.FileFormats.FileExcel" IconColor="Color.Secondary" Color="Color.Surface" Style="margin-left: 5px;">@_localizer["تصدير"]</MudButton>
                }*@
            }
            else
            {
                <MudButton DisableElevation Variant="Variant.Filled" OnClick="@(() => OnSearch(""))" StartIcon="@Icons.Material.Filled.Refresh" IconColor="Color.Surface" Color="Color.Secondary">@_localizer["تحديث"]</MudButton>
                <MudButton DisableElevation Variant="Variant.Filled" OnClick="@(() => _navigationManager.NavigateTo(""))" StartIcon="@Icons.Material.Filled.Refresh" IconColor="Color.Surface" Color="Color.Secondary">@_localizer["رجوع"]</MudButton>
                @*@if (_canExportTalaps)
                {
                    <MudButton DisableElevation Variant="Variant.Filled" OnClick="ExportToExcel" StartIcon="@Icons.Custom.FileFormats.FileExcel" IconColor="Color.Secondary" Color="Color.Surface" Style="margin-left: 5px;">@_localizer["تصدير"]</MudButton>
                }*@
            }
        </div>
        <MudToolBarSpacer />
        @if (_canSearchTalaps)
        {
            <MudTextField T="string" ValueChanged="@(s => OnSearch(s))" Placeholder="@_localizer["بحث"]" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        }
    </ToolBarContent>
    <HeaderContent>



        <MudTHeadRow IgnoreCheckbox="true">



            <MudTh colspan="4" Style="text-align: right">
                <MudRadioGroup @bind-SelectedOption="@talapdate">

                    <MudRadio Option="@("all")" Color="Color.Secondary">الكل</MudRadio>
                    <MudRadio Option="@("Today")" Color="Color.Info">اليوم</MudRadio>
                    <MudRadio Option="@("Week")" Color="Color.Error">اسبوع</MudRadio>
                    <MudRadio Option="@("Month")" Color="Color.Warning">شهر</MudRadio>

                    @*<MudRadio Option="@(DateTime.Now)" Color="Color.Info">اليوم</MudRadio>
                <MudRadio Option="@(DateTime.Now.AddDays(-7))" Color="Color.Error">اسبوع</MudRadio>
                <MudRadio Option="@(DateTime.Now.AddMonths(-1))" Color="Color.Warning">شهر</MudRadio>*@

                </MudRadioGroup>
            </MudTh>

            <MudTh colspan="1" Style="text-align: right">
                <MudRadioGroup @bind-SelectedOption="@selectedRegionValue">

                    <MudRadio Option="@(0)" Color="Color.Secondary">كل المناطق</MudRadio>
                    <MudRadio Option="@(1)" Color="Color.Info">تحديد منطقة</MudRadio>
                  

                </MudRadioGroup>
            </MudTh>

            <MudTh colspan="2" Style="text-align: right">
                <MudSelect Label="@_localizer["المنطقة"]" @bind-Value="selectedRegionValue" Placeholder="فلترة بحسب المنطقة"
                           Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.LocationCity" AdornmentColor="Color.Primary">
                    @foreach (var item in myregions)
                        {
                        <MudSelectItem Value="item.Region.Id">@item.Region.Name</MudSelectItem>


                        }
                </MudSelect>
            </MudTh>


            <MudTh colspan="3">
                <MudDateRangePicker @ref="_dateRangePicker" Disabled="!BYdate" PickerVariant="PickerVariant.Dialog" Label="@_localizer[" تحديد تاريخ البداية   -   وتاريخ النهاية"]" @bind-DateRange="_dateRange">

                    <PickerActions>
                        @*<MudButton Class="mr-auto align-self-start" OnClick="@(() => OnClear())">@_localizer["الغاء التحديد"]</MudButton>*@
                        <MudButton OnClick="@(() => OnUndo())">@_localizer["الغاء"]</MudButton>
                        <MudButton Color="Color.Primary" OnClick="@(() => Onclose())">@_localizer["بحث"]</MudButton>
                    </PickerActions>
                </MudDateRangePicker>
            </MudTh>
            <MudTh colspan="1" Style="text-align: right">
                <MudSwitch @bind-Checked="BYdate" Color="Color.Primary" Style="margin-left: 1px;">@_localizer["البحث بين تاريخين"]</MudSwitch>
            </MudTh>



        </MudTHeadRow>
        <MudTHeadRow IgnoreCheckbox="true">

            <MudTh><MudTableSortLabel T="GetAllPagedTalapsResponse" SortLabel="serial">@_localizer["#"]</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel T="GetAllPagedTalapsResponse" SortLabel="#">@_localizer["الرقم"]</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel T="GetAllPagedTalapsResponse" SortLabel="@_localizer["الزبون"]">@_localizer["الزبون"]</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel T="GetAllPagedTalapsResponse" SortLabel="@_localizer["العنوان"]">@_localizer["العنوان"]</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel T="GetAllPagedTalapsResponse" SortLabel="@_localizer["الهاتف"]">@_localizer["الهاتف"]</MudTableSortLabel></MudTh>

            <MudTh><MudTableSortLabel T="GetAllPagedTalapsResponse" SortLabel="@_localizer["السائق"]">@_localizer["السائق"]</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel T="GetAllPagedTalapsResponse" SortLabel="@_localizer["المنطقة"]">@_localizer["المنطقة"]</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel T="GetAllPagedTalapsResponse" SortLabel="@_localizer["نوع الخزان"]">@_localizer["نوع الخزان"]</MudTableSortLabel></MudTh>

            <MudTh><MudTableSortLabel T="GetAllPagedTalapsResponse" SortLabel="الخزان">@_localizer["الخزان"]</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel T="GetAllPagedTalapsResponse" SortLabel="التاريخ">@_localizer["التاريخ"]</MudTableSortLabel></MudTh>

            <MudTh>


                @if (CurrentUserRool != CustomerRoll)
                    {

                    @_localizer["اوامر"]



                    }
                    else
                    {

                    @_localizer["تعليق"]

                    }


            </MudTh>

        </MudTHeadRow>

    </HeaderContent>
    <RowTemplate>
        @*<MudTd DataLabel="Id">@context.Id</MudTd>*@
        <MudTd DataLabel="Id">@context.serial</MudTd>
        <MudTd DataLabel="الرقم">@context.No</MudTd>
        <MudTd DataLabel="@_localizer["الزبون"]">
            <MudHighlighter Text="@context.CustomerName" HighlightedText="@_searchString" />
            @*<MudHighlighter Text="@context.Customer.Adress" HighlightedText="@_searchString" />*@

        </MudTd>
        <MudTd DataLabel="@_localizer["العنوان"]">
            <MudHighlighter Text="@context.CustomerAddress" HighlightedText="@_searchString" />
            @*<MudHighlighter Text="@context.Customer.Adress" HighlightedText="@_searchString" />*@

        </MudTd>
        <MudTd DataLabel="@_localizer["الهاتف"]">
            @*<MudChip Variant="Variant.Text" Color="Color.Info">Info</MudChip>*@

            @*<MudHighlighter  Text="@context.CustomerPhone" HighlightedText="@_searchString" />*@

            @if (@context.CustomerPhones.Count <= 0)
                {
                //_snackBar.Add("no CustomerPhones" + context.CustomerPhone);
                <MudChip Size="Size.Small" Variant="Variant.Outlined" Icon="@Icons.Material.Filled.Phone" Label="false" Color="Color.Info">@context.CustomerPhone</MudChip>

                }
                else
                {
                //_snackBar.Add(" list" + @context.CustomerPhones.Count);

                @foreach (var item in @context.CustomerPhones)
                    {

                    <MudChip Size="Size.Small" Variant="Variant.Outlined" Icon="@Icons.Material.Filled.Phone" Label="false" Color="Color.Info">@item.PhoneNumber</MudChip>



                    }
                }



            @*<MudHighlighter Text="@context.Customer.Adress" HighlightedText="@_searchString" />*@

        </MudTd>
        <MudTd DataLabel="@_localizer["السائق"]">
            <MudHighlighter Text="@context.DriverName" HighlightedText="@_searchString" />
            @*<MudHighlighter Text="@context.Customer.Adress" HighlightedText="@_searchString" />*@

        </MudTd>
        <MudTd DataLabel="@_localizer["المنطقة"]">
            <MudHighlighter Text="@context.RegionName" HighlightedText="@_searchString" />
            @*<MudHighlighter Text="@context.Customer.Adress" HighlightedText="@_searchString" />*@

        </MudTd>
        <MudTd DataLabel="@_localizer["نوع الخزان"]">
            <MudHighlighter Text="@context.CustomerBotlType" HighlightedText="@_searchString" />
            @*<MudHighlighter Text="@context.Customer.Adress" HighlightedText="@_searchString" />*@

        </MudTd>
        <MudTd DataLabel="الخزان">@context.BottleNo</MudTd>


        <MudTd DataLabel="التاريخ">
            <MudHighlighter Text="@context.TalapDate" HighlightedText="@_searchString" />
        </MudTd>


        <MudTd>

            @if (CurrentUserRool != CustomerRoll)
                {


                @if (CurrentUserRool == DriverRoll)
                    {

                    @if (_canEditTalaps || _canDeleteTalaps)
                        {

                        <MudButton DisableElevation Variant="Variant.Filled"
                                   OnClick="@(() => InvokeModalAccept(@context.Id))"
                                   StartIcon="@Icons.Material.Filled.DoneAll"
                                   IconColor="Color.Secondary" Color="Color.Primary"> @_localizer["توصيل"]</MudButton>


                                }
                    }

                @if (_canEditTalaps || _canDeleteTalaps)
                    {

                    <MudButton DisableElevation Variant="Variant.Filled"
                               OnClick="@(() => InvokeModalUndo(@context.Id))"
                               StartIcon="@Icons.Material.Filled.Cancel" IconColor="Color.Primary" Color="Color.Secondary"> @_localizer["الغاء"]</MudButton>
                            }

                @if (_canDeleteTalaps)
                    {

                    <MudButton DisableElevation Variant="Variant.Filled"
                               OnClick="@(() => Delete(@context.Id))"
                               StartIcon="@Icons.Material.Filled.RemoveCircle" IconColor="Color.Info" Color="Color.Warning"> @_localizer["حذف"]</MudButton>
                            }
                }
                else
                {
                @context.Comment
                }
        </MudTd>






        <!--<MudTd>
    <MudFab Color="Color.Primary" Icon="@Icons.Material.Filled.ViewList" IconColor="Color.Surface" Size="Size.Small" OnClick="@(() => ShowBtnPress(@context.Id))">@((context.ShowDetails == true) ? "إخفاء التفاصيل" : "إظهار التفاصيل")</MudFab>-->
        @*<MudFab Color="Color.Primary" Icon="@Icons.Material.Filled.Add" aria-label="add" />*@

        <!--</MudTd>-->

    </RowTemplate>
    @*<ChildRowContent>
        @if (context.ShowDetails)
            {<MudTr>
                <td colspan="5">

                    <MudTable Items="@context.CustomerList" Hover="true" Dense="@_dense" Bordered="@_bordered" Striped="@_striped" Context="AddressContext" Breakpoint="Breakpoint.Md" Elevation="25">
                        <ColGroup>

                            <col />
                            <col />
                            <col />
                            <col />
                            <col />
                        </ColGroup>
                        <HeaderContent>
                            <MudTh><strong>#</strong></MudTh>
                            <MudTh><strong>الزبون</strong></MudTh>
                            <MudTh><strong>الجوال</strong></MudTh>
                            <MudTh><strong>رقم الخزان</strong></MudTh>
                            <MudTh><strong>نوع الخزان</strong></MudTh>

                        </HeaderContent>
                        <RowTemplate>

                            <MudTd DataLabel="#">@AddressContext.No</MudTd>
                            <MudTd DataLabel="الإسم">@AddressContext.Name</MudTd>
                            <MudTd DataLabel="الجوال">@AddressContext.Phone</MudTd>
                            <MudTd DataLabel="رقم الخزان">@AddressContext.BottleNo</MudTd>
                            <MudTd DataLabel="نوع الخزان">@AddressContext.BottleType</MudTd>
                        </RowTemplate>
                        <PagerContent>
                            <TablePager />
                        </PagerContent>
                    </MudTable>
                </td>

            </MudTr>

            }
    </ChildRowContent>*@


    <FooterContent>
        @*<MudSwitch @bind-Checked="@_dense" Color="Color.Secondary" Style="margin-left: 5px;">@_localizer["Dense"]</MudSwitch>
            <MudSwitch @bind-Checked="@_striped" Color="Color.Tertiary" Style="margin-left: 5px;">@_localizer["Striped"]</MudSwitch>
            <MudSwitch @bind-Checked="@_bordered" Color="Color.Warning" Style="margin-left: 5px;">@_localizer["Bordered"]</MudSwitch>*@
    </FooterContent>
    <PagerContent>
        <TablePager />
    </PagerContent>
</MudTable>
}